{% load static %}

<div class="mb-4">
    <div class="fnSuperiorRegularTitle text-quinto">Representantes legales</div>
    <div class="row border border-3 border-quinto rounded rounded-3">
        <div class="col-12 p-3">
            <label>Seleccionar existente o escribir nuevo:</label>
            <div class="d-flex align-items-center">
                <div class="flex-grow-1" id="contenedor-select-rep">
                    {{ rep_form.representante_selector }}
                </div>
                <button type="button" class="btn btn-secondary ms-2 text-white border border-primary" onclick="agregarRep()">
                    Agregar
                </button>
            </div>
            {{ rep_form.representantes }}
        </div>
                <div id="rep-list" class="col-12"></div>

    </div>
</div>

<div class="mb-4">
    <div class="fnSuperiorRegularTitle text-quinto">Obligados solidarios y garantes</div>
    <div class="row border border-3 border-quinto rounded rounded-3">
        <div class="col-12 p-3">
            <label>Seleccionar existente o escribir nuevo:</label>
            <div class="d-flex align-items-center">
                <div class="flex-grow-1" id="contenedor-select-obl">
                    {{ obl_form.obligado_selector }}
                </div>
                <button type="button" class="btn btn-secondary ms-2 text-white border border-primary" onclick="agregarObl()">
                    Agregar
                </button>
            </div>
            {{ obl_form.obligados }}
        </div>
                <div id="obl-list" class="col-12"></div>

    </div>
</div>

<script>
    let reps = [];
    let obls = [];

    function syncHidden() {
        document.getElementsByName("representantes")[0].value = reps.join("||");
        document.getElementsByName("obligados")[0].value = obls.join("||");
    }

    function render() {
        const repList = document.getElementById("rep-list");
        repList.innerHTML = reps.map((x, i) => `
            <div class="input-group my-2 w-100">
                <span class="input-group-text bg-primary text-white">Rep.</span>
                <input type="text" class="form-control" value="${x}" oninput="reps[${i}]=this.value; syncHidden();">
                <button class="btn btn-primary" type="button" onclick="reps.splice(${i},1); render();">X</button>
            </div>
        `).join("");

        const oblList = document.getElementById("obl-list");
        oblList.innerHTML = obls.map((x, i) => `
            <div class="input-group my-2 w-100">
                <span class="input-group-text bg-primary text-white">Obl.</span>
                <input type="text" class="form-control" value="${x}" oninput="obls[${i}]=this.value; syncHidden();">
                <button class="btn btn-primary" type="button" onclick="obls.splice(${i},1); render();">X</button>
            </div>
        `).join("");

        syncHidden();
    }

    function agregarRep() {
        const select = document.querySelector('[name="representante_selector"]');
        const valor = select.options[select.selectedIndex].text;
        

        const nombreParaAgregar = select.value === "" ? "" : valor;
        
        reps.push(nombreParaAgregar);
        render();
        select.value = ""; 
    }

    function agregarObl() {
        const select = document.querySelector('[name="obligado_selector"]');
        const valor = select.options[select.selectedIndex].text;
        
        const nombreParaAgregar = select.value === "" ? "" : valor;
        
        obls.push(nombreParaAgregar);
        render();
        select.value = ""; 
    }
</script>