{% extends 'layout/layout.html' %}
{% load static %}
{% block body %}
<div class="container py-4">

    <h4 class="mb-3 fnSuperiorRegularTitle2 text-secondary">Crear expediente</h4>

    <form method="post">
        {% csrf_token %}

        <div class="mb-4 ">
            <div class="fnSuperiorRegularTitle text-quinto ">Datos del expediente</div>
            <div class=" row  border border-3 border-quinto  rounded rounded-4">

                <div class="col-md-4 my-3">
                    <label class="form-label fnSuperiorRegularTitle3 m-0 text-primary">Socio Existente</label>
                    {{ exp_form.socio }}
                    {% if exp_form.socio.errors %}<div class="text-danger small">{{ exp_form.socio.errors }}</div>
                    {% endif %}
                </div>

                <div class="col-md-4 my-3">
                    <label class="form-label fnSuperiorRegularTitle3 m-0 text-primary">O escribir nuevo nombre</label>
                    {{ exp_form.socio_manual_nombre }}
                    {% if exp_form.socio_manual_nombre.errors %}<div class="text-danger small">{{
                        exp_form.socio_manual_nombre.errors }}</div>{% endif %}
                </div>

                <div class="col-md-4 my-3">
                    <label class="form-label fnSuperiorRegularTitle3 m-0 text-primary">Tipo de Persona (F/M)</label>
                    {{ exp_form.socio_manual_tipo }}
                    {% if exp_form.socio_manual_tipo.errors %}<div class="text-danger small">{{
                        exp_form.socio_manual_tipo.errors }}</div>{% endif %}
                </div>

                <div class="col-md-4 my-3">
                    <label class="form-label fnSuperiorRegularTitle3 m-0 text-primary">Usuario asignado</label>
                    {{ exp_form.usuario }}
                </div>

                <div class="col-md-4 my-3">
                    <label class="form-label fnSuperiorRegularTitle3 m-0 text-primary">Estatus</label>
                    <input type="text" class="form-control" value="Nuevo" disabled>
                </div>

            </div>
        </div>

        <div class="mb-4">
            <div class="fnSuperiorRegularTitle text-quinto ">Representantes legales</div>
            <div class="row border border-3 border-quinto rounded rounded-3">

                <div id="rep-list" class="col-12"></div>

                <div class="col-3">
                    <button type="button" class="btn btn-secondary my-3  text-white  mx-3 py-0 px-3"
                        onclick="agregarRep()">
                        <p class="fnSuperiorRegularTitle3 m-0">Agregar
                            representante</p>
                    </button>

                    {{ rep_form.representantes }}
                </div>
            </div>
        </div>

        <div class="mb-4">
            <div class="fnSuperiorRegularTitle text-quinto r">Obligados solidarios y garantes</div>
            <div class="row border border-3 border-quinto rounded rounded-3">

                <div id="obl-list" class="col-12"></div>
                <div class="col-3">
                    <button type="button" class="btn btn-secondary my-3 text-white  mx-3 py-0 px-3"
                        onclick="agregarObl()">
                        <p class="fnSuperiorRegularTitle3 m-0">Agregar
                            obligado</p>
                    </button>

                    {{ obl_form.obligados }}
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-end">
            <button class="btn btn-primary">Crear expediente</button>
        </div>

    </form>

</div>

<script>
    let reps = [];
    let obls = [];

    function syncHidden() {
        document.getElementsByName("representantes")[0].value = reps.join("||");
        document.getElementsByName("obligados")[0].value = obls.join("||");
    }

    function render() {
        const repList = document.getElementById("rep-list");
        repList.innerHTML = reps.map((x, i) => `
            <div class="input-group m-3">
                <input type="text" class="form-control"
                        value="${x}"
                        oninput="reps[${i}]=this.value; syncHidden();">
                <button class="btn btn-danger"
                         onclick="reps.splice(${i},1); render();">X</button>
            </div>
        `).join("");

        const oblList = document.getElementById("obl-list");
        oblList.innerHTML = obls.map((x, i) => `
            <div class="input-group m-3">
                <input type="text" class="form-control"
                        value="${x}"
                        oninput="obls[${i}]=this.value; syncHidden();">
                <button class="btn btn-danger"
                         onclick="obls.splice(${i},1); render();">X</button>
            </div>
        `).join("");

        syncHidden();
    }

    function agregarRep() {
        reps.push("");
        render();
    }

    function agregarObl() {
        obls.push("");
        render();
    }

    render();
</script>


{% endblock %}