{% extends 'layout/layout.html' %}
{% load static %}
{% block body %}
<style>
    .overlay-blue {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #6AA4EE;

    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <div class="position-relative rounded-5 overflow-hidden" style="width: 50%;">

                <img src="{% static 'img/banner.jpg' %}" alt="Descripción del banner" class="w-100">

                <div class="overlay-blue d-flex justify-content-center align-items-center" style="opacity: 0.5;">

                    <h2 class="text-white m-0 opacity-100" style="opacity: 1;">Bienvenid@ {{request.user}}</h2>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}