<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Socio</th>
            <th>Estatus</th>
            <th>Asignado</th>
            <th>Fecha de creación</th>
            <th>Editar</th>

        </tr>
    </thead>
    <tbody>
        {% for expediente in expedientes %}
        <tr style="background-color: {{expediente.estatus.color}};" class="">
            <td>{{ expediente.id }}</td>
            <td>{{ expediente.socio.nombre }}</td>
            <td>{{ expediente.estatus.nombre }}</td>
            <td>{{ expediente.usuario.username }}</td>
            <td>{{ expediente.fecha }}</td>
            <td><a href="{% url 'Index:editarExpediente' expediente.id %}"
                    class="btn  rounded rounded-4 bg-tercero text-white"> Editar expediente</a></td>

        </tr>
        {% empty %}
        <tr>
            <td colspan="6">No se encontraron expedientes.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if paginator.num_pages > 1 %}
<div class="d-flex justify-content-center mt-3" style="cursor: pointer;">
    <ul class="pagination">

        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link paginar" data-page="{{ page_obj.previous_page_number }}">«</a>
        </li>
        {% endif %}

        {% for i in paginator.page_range %}
        <li class="page-item {% if page_obj.number == i %}active{% endif %}">
            <a class="page-link paginar" data-page="{{ i }}">{{ i }}</a>
        </li>
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link paginar" data-page="{{ page_obj.next_page_number }}">»</a>
        </li>
        {% endif %}

    </ul>
</div>
{% endif %}