{% load static %}
<style>
    .nav-custom {
        ul.navbar-nav {
            display: flex;
            align-items: center;

            li.nav-item {
                list-style: none;
                position: relative;

                a.nav-link {
                    position: relative;
                    display: inline-block;
                    text-transform: uppercase;
                    margin: 0 8px;
                    padding: 8px 16px;
                    text-decoration: none;
                    color: #624949;
                    font-family: 'LTSuperior', sans-serif;
                    font-size: 20px;
                    font-weight: 600;
                    transition: 0.4s;
                    z-index: 1;

                    &::before,
                    &::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        transition: 0.3s;
                        opacity: 0;
                    }

                    &::before {
                        top: 0;
                        border-top: 2px solid #03268c;
                        border-bottom: 2px solid #03268c;
                        transform: scaleY(2);
                    }

                    &::after {
                        top: 2px;
                        background-color: #ffffff;
                        transform: scale(0);
                        z-index: -1;
                    }

                    &:hover {
                        color: #ffffff;

                        &::before {
                            transform: scaleY(1);
                            opacity: 1;
                        }

                        &::after {
                            transform: scale(1);
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
</style>
{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-white nav-custom">
    <div class="container my-3">
        <a class="navbar-brand" href="#">
            <img src="{% static 'img/Logo.png' %}" alt="Logo de la clínica" width="200">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active">
                    <a class="nav-link fnSuperiorRegular text-tercero" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fnSuperiorRegular text-tercero"
                        href="{% url 'Index:expedientesLayout'%}">Expedientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fnSuperiorRegular text-tercero" href="{% url 'Index:avances'%}">Avances</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fnSuperiorRegular text-tercero" href="{% url 'Index:editar_layout'%}">Ajustes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fnSuperiorRegular text-tercero" href="{% url 'Index:administrador'%}">Administrador</a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link fnSuperiorRegular text-tercero" href="" data-bs-toggle="modal"
                        data-bs-target="#logoutModal">Cerrar sesión</a>
                </li>
                <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered ">
                        <div class="modal-content">
                            <div class="modal-header bg-tercero text-white">
                                <h5 class="modal-title" id="logoutModalLabel">Confirmar cierre de sesión</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Cerrar"></button>
                            </div>
                            <div class="modal-body text-center">
                                ¿Estás seguro de que deseas cerrar la sesión de <strong>{{ request.user }}</strong>?
                            </div>
                            <div class="modal-footer justify-content-center">
                                <button type="button" class="btn btn-tercero text-white"
                                    data-bs-dismiss="modal">Cancelar</button>
                                <a href="{% url 'login:logout' %}" class="btn btn-primary">Cerrar Sesión</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>